body {
  font-size: 15px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  background-color: #61122f;
}

/* header */

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url(../images/restaurant-logo_large.png) no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #577c3e;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {
  color: #000;
  text-transform: uppercase;
  margin-top: 5px;
  font-size: .7em;
}

.navbar-brand p span {
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}

#phone a {
  text-align: right;
  padding-bottom: 0;
}

#phone div {
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
  clear: both;
}
.navbar-header button.navbar-toggle{
  margin-top: -10px;
}
.container .jumbotron {
  box-shadow:0 0 50px #3f0c1f;
  border: 2px solid #3f0c1f;
}
#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

/* -------------large device only--------------- */

@media(min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }
}

/* -------------medium device only--------------- */

@media(min-width: 992px) and (max-width: 1199px) {
  #logo-img {
    background: url(../images/restaurant-logo_medium.png) no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0px;
  }
  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 675px;
  }
}

/* -------------small device only--------------- */

@media(min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 675px;
  }
}

/* -------------extra small device only--------------- */

@media(max-width: 768px) {
  .navbar-brand {
    padding-top: 10px;
    height: 40px;
  }
  .navbar-brand h1 {
    font-size: 5vw;
  }
  .navbar-brand p {
    font-size: .6em;
    margin-top: 10px;
  }
  .navbar-brand img {
    height: 20px;
  }
  .container .jumbotron {
    margin-top: 30px;
    padding: 0px;
  }
  #collapsable-nav a{
    font-size: 1.2em;
  }
  #collapsable-nav a span{
    font-size: 1em;
  }
}
