*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-color: rgba(2, 148, 128, 0.596);
    font-size: 100%;
}
h1 {
    color: rgb(248, 14, 14);
    height: 50px ;
    font-size: 40px;
    text-align: center;
}
div{
    color: grey;
}
.test{
    color: rgb(158, 154, 115);
}
#test {
    color: deepskyblue;
    background-color: rgba(230, 25, 25, 0.712);
    font-size: 30px;
    font-style: italic;
    opacity: .7;
    height: 30px;
    width: 300px;
    font-weight: 200;
    font-family: sans-serif;
}
.textestyle{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-style:italic;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}
.box{
    font-size: 21px;
    background-color: red;
    width: 140px;
    text-align: center;
    margin: 10px 50%;
    border: 5px solid rgb(0, 0, 0);
    padding: 10px ;
}
.top {
    color: black;
    background-color: brown;
    width: 140px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 30px;
    margin-left: 50%;
    height: 120px;
    overflow: auto;
}
.bottom {
    color: black;
    background-color: brown;
    width: 140px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    border: 5px solid rgb(0, 0, 0);
    margin-top: 20px;
    margin-left: 50%;
}
.bg{
    height: 500px;
    width: 500px;
    background: url("dessin.png")  no-repeat center blue;
}
.floating{
    background-color: rgba(201, 94, 18, 0.466);
}
div>section{
    clear: left;
    color: black;
}
.floating > p{
    margin-left: 10px;
    width: 70px;
    height: 70px;
    border: 2px solid black;
}
.floating  .p1{
    background-color: blue ;
}
.floating  .p2{
    background-color: red;
    float:right;
}
.floating  .p3{
    background-color: yellow;
    clear: both;
}
.floating .p4{
    background-color: green;
    position: absolute  ;
}
.position {
    margin-top: 150px;
    background-color: rgba(100, 148, 237, 0.288);
    position:relative;
    top: 100px;
    left: 100px;
    width: 90%;
}
.position > p{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    color: black;
    text-align: center;
    padding-top:25px;
    font-weight: bold;
}
.position > .p1{
    background-color: rgb(9, 207, 52) ;
    position: relative;
    top: 60px;
    left: 150px;
}
.position > .p2{
    background-color: rgb(27, 18, 110);
}
.position > .p3{
    background-color: rgb(224, 11, 11);
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 0px;
}
.position > .p4{
    background-color: green;
}
.media {
    color: black;
    margin-top: 110px;
}
.media > .paragraphe1 {
    background-color: rgb(181, 181, 201);
width:80%;
height: 100px;
}
.media > .paragraphe2 {
    background-color: rgb(190, 17, 11);
    width:50%;
    height: 100px; 
}
@media (max-width : 1000px) and (min-width:700px){
    .media > .paragraphe1 {
        background-color: blue;
        width: 200px;
        height: 100px;
    }
    .media > .paragraphe2 {
        background-color:green;
        width: 100px;
        height: 100px;
    }
}
.row {
    margin-bottom: 100px;
}
.row > div > p {
    background-color: red;
    color: white;
    border: 2px rgb(0, 0, 0) solid;
    width: 90%;
    height: 200px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width :1200px){
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
        border: 1px solid green;
      }
      .col-lg-1 {
        width: 8.33%;
      }
      .col-lg-2 {
        width: 16.66%;
      }
      .col-lg-3 {
        width: 25%;
      }
      .col-lg-4 {
        width: 33.33%;
      }
      .col-lg-5 {
        width: 41.66%;
      }
      .col-lg-6 {
        width: 50%;
      }
      .col-lg-7 {
        width: 58.33%;
      }
      .col-lg-8 {
        width: 66.66%;
      }
      .col-lg-9 {
        width: 74.99%;
      }
      .col-lg-10 {
        width: 83.33%;
      }
      .col-lg-11 {
        width: 91.66%;
      }
      .col-lg-12 {
        width: 100%;
      }
}
@media (min-width: 950px) and (max-width: 1199px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
      border: 1px solid green;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }