*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    margin: 20px;
}
.row{
    position: absolute;
    float: left;
    margin: 10px;
}
.row section {
    background-color:gray;
    border: 1px black solid;
    height: auto;
    margin: 10px 4px;
    border-radius: 5px;
}
.row h1{
    border: 1px black solid;
    padding:0px 10px;
    width: 100px;
    height: 30px;
    position: relative;
    float: right;
    margin: 0px;
    border-radius: 5px;
}
.row p {
    clear: both;
    padding: 10px;
}
.row .title1{
    background: burlywood ;
}
.row .title2 {
    background-color: blue;
    color: white;
}
.row .title3{
    background-color: yellow;
}
@media (min-width : 992px){
    .row .col-lg-4 {
        width: 32.5%;
        float: left;
    }
}
@media (min-width : 768px) and (max-width :991px){
    .row .col-md-6 {
        width: 48.5%;
        float: left;
    }
    .row .col-md-12 {
        width: 97.5%;
        float: left;
    }
}
@media (max-width : 767px){
    .row .col-sm-12 {
        width: 97.5%;
        float: left;
    }
}